params: <%== params %>

<div class="row">
  <div class="large-4 columns">
    <form action="/create" method="post">
      <fieldset>
        <legend>Form Example</legend>

        <label>Name</label>
        <input type="text" placeholder="Your Name" name="name">

        <label>Email</label>
        <input type="text" placeholder="Your Email" name="email">

        <p>
          <input type="submit">
        </p>
      </fieldset>
    </div>
  </div>
</form>
